.header {
  padding: 1rem 0;
  font-size: 1.25rem;
  background: rgb(248, 249, 250);
  &__title {
    font-weight: bold;
  }

  &__link {
    font-weight: 500;
    color: #273c75;
    transition: all 0.25s ease-in-out 0s;

    &--active,
    &:hover {
      text-decoration: none;
      color: var(--primary);
    }
  }
}
